[Desktop Entry]
Encoding=UTF-8
Name=SABR
Comment=SABR P2P Cryptocurrency
Comment[ru]=SABR, P2P криптовалюта
Comment[fr]=SABR, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SABR, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/SABR-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/SABR80.xpm
MimeType=x-scheme-handler/SABR;
Categories=Office;
