[Unit]
Description=SFTZ daemon serivce
After=network.target

[Service]
Type=simple
User=SFTZ
ExecStart=/opt/SFTZ/SFTZd

[Install]
WantedBy=multi-user.target
